<script>
</script>
<div class = "flex justify-between [&>a]:mx-[10px] w-9/12 mx-auto my-5 sm:w-5/12 lg:w-4/12" >
    <a href ="<%= updateURL %>">
        <div 
        id = "UpdateButton" 
        class = "text-white rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
        border-white border-2 text-center w-[150px] select-none hover:bg-slate-200 hover:text-black">Update Record</div>
    </a>
    <a href ="<%= deleteURL %>">
    <div 
        id = "DeleteButton"
        class = "rounded-full text-black p-[10px] active:translate-x-[5px] active:translate-y-[5px] cusor-pointer
        text-center w-[150px] bg-gray-300 cursor-pointer select-none hover:bg-slate-400">Delete</div>
    </a>
</div>