<!-- views/partials/footer.ejs -->
<div 
	id='header' 
	class = "">
	<div
		id='MobileHeader' 
		class = "w-full bg-black fixed top-0 left-0 right-0 h-[50px] sm:hidden z-10"
	>
		<a href = "/">
			<img 
				src = "images/FilmDashLogo.png" 
				class = "h-full w-auto cursor-pointer" 
				alt = "logo"/>
		</a>
		<div>
			<img
				src = "icon/hamburger_menu_white.png" 
				class = "cursor-pointer" 
				alt = "logo"/>
		</div>
	</div>
	<div
		id='DesktopHeader' 
		class = "w-full bg-black fixed top-0 left-0 right-0 h-[50px] hideden sm:flex"
	>
			<a href = "/">
				<img 
					src = "images/FilmDashLogo.png" 
					class = "h-full w-auto cursor-pointer" 
					alt = "logo"/>
			</a>
	</div>
</div>