<script>
	const BurgerMenu = document.getElementById("BurgerMenu")

</script>
<div id = "MobileMenu" class = "w-[300px] bg-white h-full text-center text-black z-50 fixed 
	right-0 top-0 font-bold closed-menu">
	<%= title %>
	<div class = "my-2" >Home</div>
	<div class = "my-2" >Genres</div>
	<div class = "my-2">Directors</div>
	<div class = "my-2">Actors</div>
	<div class = "my-2">Contact</div>
</div>