<script>
	const BurgerMenu = document.getElementById("BurgerMenu")
</script>
<link rel = "stylesheet" href= "stylesheets/tailwind.css" >
<div id = "MobileMenu" class = "w-[300px] bg-white h-full text-center text-black z-50 fixed 
	right-0 top-0 font-bold closed-menu">
	<div class = "my-2 cursor-pointer hover:underline hover:text-gray-500 active:text-lg" >Home</div>
	<div class = "my-2 cursor-pointer hover:underline hover:text-gray-500 active:text-lg" >Genres</div>
	<div class = "my-2 cursor-pointer hover:underline hover:text-gray-500 active:text-lg">Directors</div>
	<div class = "my-2 cursor-pointer hover:underline hover:text-gray-500 active:text-lg">Actors</div>
	<div class = "my-2 cursor-pointer hover:underline hover:text-gray-500 active:text-lg">Contact</div>
	<div class = "my-2 cursor-pointer hover:underline hover:text-gray-500 active:text-lg">Close Menu</div>
</div>