<script>
    var QuotesArray = [];
        <% if( typeof director != 'undefined') { %>
            var temp = '<%= director.quotes.toString() %>'
            QuotesArray = temp.split(',');
        <%}%>
</script>
<div>
    <label for="quotes">Quotes (Commas will automatically treat a sentence into separate phrases)</label>
    <div class = "block whitespace-nowrap">
        <input 
            id = "QuotesHiddenInput"
            type = 'hidden' 
            name = "quotes" 
        />
        <input 
            name = "quotes" 
            id = "QuotesInput"
            type = "text"
            placeholder = "Enter any well known quotes that the director has made" 
            class = "inline-block rounded-lg bg-[rgba(0,0,0,0)] text-white border-white border-[1px] 
            pl-3 min-w-[80%]"
            />
        <div
            id="AddQuotesButton"
            class = "inline-block text-sm rounded-full p-1 active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
            border-white border-2 text-center select-none text-white mx-1
            hover:bg-gray-800 min-w-[50px] w-auto"
            onClick = "AddRelatedQuotes"
        >Add</div>
    </div>
</div>
<div 
    id = "QuotesAnswers"
    class = 'w-full my-5 mx-auto flex h-[20px] bg-black max-w-[200px] overflow-y-auto'
    >
</div>
<script>
	var QuotesInput = document.getElementById('QuotesInput');
	var AddQuotesButton = document.getElementById('AddQuotesButton');
	var QuotesAnswers = document.getElementById('QuotesAnswers');
	var QuotesHiddenInput = document.getElementById('QuotesHiddenInput');

	if(QuotesArray.length > 0){
	QuotesAnswers = document.getElementById('QuotesAnswers');
	QuotesHiddenInput = document.getElementById('QuotesHiddenInput');
	QuotesHiddenInput.value = QuotesArray;
	QuotesArray.forEach(val =>{
	const UserInput = val;
	const NewInput = document.createElement('div')
	const NewInputDiv = document.createElement('div');
	NewInputDiv.innerHTML = UserInput;
	NewInput.classList.add('Tag');
	NewInput.appendChild(NewInputDiv)
	QuotesAnswers.appendChild(NewInput);

	const DeleteButton = document.createElement('img')
	DeleteButton.alt = "Delete";
	DeleteButton.classList.add("MiniDeleteButton")
	DeleteButton.src = "/icon/cancel.png"
	NewInput.appendChild(DeleteButton)
	QuotesAnswers.style.display = "table"

	NewInput.addEventListener('click', ()=>{
		var tempArr = QuotesArray;
		tempArr = QuotesArray.filter(val => val !== UserInput)
		QuotesArray = tempArr;
		QuotesAnswers.removeChild(NewInput)
		QuotesHiddenInput = document.getElementById('QuotesHiddenInput');
		QuotesHiddenInput.value = QuotesArray;
	})

	})
	}

	const AddRelatedQuotes = () => {
	QuotesInput = document.getElementById('QuotesInput');
	QuotesAnswers = document.getElementById('QuotesAnswers');
	const UserInput = QuotesInput.value.trim();
	if(UserInput.trim() != ""){
	QuotesArray.push(UserInput)

	console.log("QuotesArray: ", QuotesArray)

	const NewInput = document.createElement('div')
	const NewInputDiv = document.createElement('div');
	NewInputDiv.innerHTML = UserInput;
	NewInput.classList.add('Tag');
	NewInput.appendChild(NewInputDiv)
	QuotesAnswers.appendChild(NewInput);

	const DeleteButton = document.createElement('img')
	DeleteButton.alt = "Delete";
	DeleteButton.classList.add("MiniDeleteButton")
	DeleteButton.src = "/icon/cancel.png"
	NewInput.appendChild(DeleteButton)
	QuotesAnswers.style.display = "table"

	NewInput.addEventListener('click', ()=>{
	var tempArr = QuotesArray;
	tempArr = QuotesArray.filter(val => val !== UserInput)
	QuotesArray = tempArr;
	QuotesAnswers.removeChild(NewInput)

	QuotesHiddenInput = document.getElementById('QuotesHiddenInput');
	QuotesHiddenInput.value = QuotesArray;
	})
	QuotesInput.value = ""


	QuotesHiddenInput = document.getElementById('QuotesHiddenInput');
	QuotesHiddenInput.value = QuotesArray;
	}
	}
	AddQuotesButton.addEventListener('click', AddRelatedQuotes)
</script>